/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custome style */
body{
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

.left-container{
    width: 70%;
    height:100vh;
    background-color: blue;
}

.button-1{
    width: 50px;
    height: 40px;
    background-image: url(assests/hospital-regular.svg);
    background-repeat: no-repeat;
}
.button-2{
    width: 50px;
    height: 40px;
    background-image: url(assests/microscope-solid.svg);
    background-repeat: no-repeat;
}
.button-3{
    width: 50px;
    height: 40px;
    background-image: url(assests/clipboard-list-solid.svg);
    background-position: 8px 0px;
    background-repeat: no-repeat;
}

.button-container{
    width: 100px;
    height: 100px;
    background-color: rgb(21, 54, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 50);
}

.box-1{
    margin: 1.5rem;
    width: 60%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.55);
}

h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 7px ;
}

p {
    color: rgb(223, 225, 228);
    font-size: 15px;
    line-height: 1.5rem;
}
.text-container{
    width: 80%;
    margin-left: 20px;
}

.main-container{
    display: flex;
}

.right-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container-main{
    width: 80%;
}

h1{
    font-size: 30px;
    line-height: 2rem;
    font-weight: 400;
}

span{
    color: blue;
}

.right-container p {
    color: black;
}
hr {
    width: 10%;
    text-align: left;
    margin-left: 0;
    margin-bottom: 22px;
    
}

input[type=text], input[type=tel]{
    width: 90%;
    padding: 10px;
    border: none;
    margin: 5px 0 22px 5px;
    background-color: rgb(236, 234, 234);
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, );
}

input[type=text]:focus, input[type=tel]:focus {
    border: 1px solid rgb(77, 168, 228);
    background-color: #fff;
}

label{
    font-weight: 400;
}

.form-container-2{
    margin-right: 10rem;
    display: flex;
    justify-content: space-between;
}

.right-container-bottom button{
    width: 8rem;
    height: 2rem;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right-container-bottom{
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.style-container{
    display: flex;
    justify-content: center;
}

input[type=checkbox] {
    margin-bottom: 1.8rem;
}

.check-container {
    display: flex;
}


@media screen and (max-width: 760px) {
    .form-container-2{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .main-container{
        display: flex;
        flex-direction: column;
    }

    .left-container{
        display: none;
    }
    .right-container{
        margin-top: 4rem;
    }

    .right-container-bottom{
        width: 100%;
        margin: 0;
    }
    
    .form-container-2{
        width: 100%;
    }
}






